@use "../base";

@mixin button-type(
  $primary-color: base.$color-primary-500,
  $hover-color: base.$color-primary-700,
  $active-color: base.$color-primary-900,
  $color: base.$color-background,
  $is-outline: false
) {
  $hover-color: if($is-outline, rgba($hover-color, 0.1), $hover-color);
  $active-color: if($is-outline, rgba($active-color, 0.1), $active-color);

  font-size: base.$fs-sm;
  color: $color;
  background-color: if($is-outline, transparent, $primary-color);
  padding: 0.5em 1em;
  cursor: pointer;
  border-radius: 0.25rem;
  transition: 0.3s ease;
  border: if($is-outline, 2px solid $primary-color, none);
  @include base.button-states($hover-color, $active-color);
}

.cta-primary {
  @include button-type;
}

.cta-secondary-outline {
  @include button-type(
    base.$color-secondary-500,
    base.$color-secondary-500,
    base.$color-secondary-500,
    base.$color-secondary-900,
    true
  );
}
